:root {
  background: linear-gradient(
    to bottom right,
    rgb(23, 70, 104),
    #083a4e,
    #040618
  );
  background-color: hsla(206, 64%, 10%, 1);
  color: white;
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  margin: auto;
}

.seccion-portada {
  padding-top: 2rem;
  height: 100vh;
  width: 100%;
}

.grid-portada {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}

.columna2-portada {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.columna2-portada h1,
h2,
h3 {
  margin: 0;
  margin-bottom: 1rem;
}
.columna2-portada h2 {
  font-size: 3rem;
}
.columna2-portada h1 {
  font-size: 2rem;
}
.columna2-portada h1 {
  color: hsla(195, 93%, 48%, 1);
}

.columna1-portada {
  display: flex;
  align-items: center;
  justify-content: center;
}

.columna1-portada img {
  width: 265px;
  border-radius: 7px;
  animation: upDown 2.2s linear infinite;
}

.btn-solid {
  padding: 0.4rem 1rem;
  color: hsla(206, 64%, 10%, 1);
  background-color: hsla(195, 93%, 48%, 1);
  border: 2px solid hsla(195, 93%, 48%, 1);
  cursor: pointer;
  font-weight: 700;
  font-size: medium;
  border-radius: 6px;
  margin-top: 1rem;
  transition: all 0.3s;
}

.btn-solid:hover {
  background-color: rgb(114, 220, 255);
  border-color: rgb(114, 220, 255);
  box-shadow: 0px 0px 10px 1px rgb(114, 220, 255);
}

.btn-outlined {
  padding: 0.4rem 1rem;
  color: hsla(195, 93%, 48%, 1);
  background-color: transparent;
  border: 2px solid hsla(195, 93%, 48%, 1);
  cursor: pointer;
  font-weight: 700;
  font-size: medium;
  border-radius: 6px;
  margin-top: 1rem;
  transition: all 0.3s;
}

.btn-outlined:hover {
  border-color: rgb(114, 220, 255);
  box-shadow: 0px 0px 10px 1px rgb(114, 220, 255);
}

.div-iconos {
  margin-top: 2rem;
}

#github {
  cursor: pointer;
  font-size: xx-large;
}

nav {
  display: flex;
  position: fixed;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  top: 0;
  height: 9vh;
  z-index: 1000;
  background-color: rgb(6, 18, 27);
}

nav a {
  text-decoration: none;
  color: white;
}

nav h2 {
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}

.menu {
  display: none;
  position: fixed;
  width: 100%;
  top: 0;
  align-items: center;
  justify-content: space-between;
  height: 60vh;
  flex-direction: column;
  background-color: rgb(18, 55, 82);
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.div-links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10vh;
}
.div-icon {
  display: flex;
  justify-content: start;
  align-items: start;
  width: 100%;
  padding-left: 2rem;
  padding-top: 1rem;
}

.menu a {
  text-decoration: none;
  color: white;
}

.active {
  display: flex;
  opacity: 1;
  transform: translateY(0);
}

#btn-burger {
  font-size: x-large;
  cursor: pointer;
}

.typeado {
  display: block;
  white-space: nowrap;
  border-radius: 4px solid;
  width: 18ch;
  animation: typing 2s steps(18), blink 0.5s infinite step-end alternate;
  overflow: hidden;
}

.grid-sobremi {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.columna1-sobremi {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 3rem;
  padding-right: 3rem;
}
.seccion-sobremi h1 {
  padding-left: 3rem;
  padding-top: 2rem;
  font-size: 2rem;
}

.columna2-sobremi {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 1rem;
}

.columna2-sobremi img {
  width: 57%;
  border-radius: 7px;
}

.ocultar {
  display: none;
  justify-content: center;
  align-items: center;
}

.ocultar img {
  width: 300px;
  border-radius: 7px;
}

.seccion-sobremi {
  width: 70%;
  margin: 0 auto;
  background-color: rgb(6, 18, 27);
  border-radius: 7px;
  padding-bottom: 2rem;
  margin-bottom: 10rem;
}

.seccion-proyectos {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 10rem;
  padding-top: 2rem;
}

.grid-proyectos {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.columna1-proyectos img {
  width: 400px;
  border: 1px solid #fff;
  border-radius: 7px;
}

.columna1-proyectos {
  display: flex;
  align-items: center;
}

.columna2-proyectos span {
  background-color: #95deeb;
  color: black;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 10px;
}

.seccion-proyectos h1 {
  padding-left: 3rem;
  padding-top: 2rem;
  font-size: 2rem;
}

.seccion-certificados {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 10rem;
  padding-top: 1rem;
}

.seccion-certificados h1 {
  padding-left: 3rem;
  padding-top: 2rem;
  font-size: 2rem;
}

.seccion-contacto h1 {
  padding-left: 3rem;
  padding-top: 2rem;
  font-size: 2rem;
}

.grid-certificado {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.columna1-certificado {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.columna2-certificado {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.columna1-certificado img {
  width: 400px;
  border-radius: 9px;
}

footer {
  background-color: #020d1d;
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p {
  margin: auto;
}
.seccion-contacto {
  width: 70%;
  margin: 0 auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.email-section {
  text-align: center;
  margin-top: 30px;
}

.email-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

#email-text {
  font-weight: bold;
  color: #007bff;
  margin-right: 10px;
}

.copy-button {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.copy-button:hover {
  background-color: #0056b3;
}

input {
  background-color: #c9c9c9;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 9px;
  color: black;
  width: 321px;
}
textarea {
  background-color: #c9c9c9;
  width: 321px;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 9px;
  color: black;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.bandera {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.bandera img {
  width: 27px;

  margin-right: 8px;
}

@keyframes upDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@media (min-width: 1550px) {
  .seccion-portada {
    width: 55%;
    margin: 0 auto;
  }
  .seccion-certificados {
    width: 55%;
  }
  .seccion-contacto {
    width: 55%;
  }
  .seccion-proyectos {
    width: 55%;
  }
  .seccion-sobremi {
    width: 55%;
  }
}

@media (min-width: 1900px) {
  .seccion-portada {
    width: 40%;
  }
  .seccion-certificados {
    width: 40%;
  }
  .seccion-contacto {
    width: 40%;
  }
  .seccion-proyectos {
    width: 40%;
  }
  .seccion-sobremi {
    width: 40%;
  }
}

@media (min-width: 2357px) {
  .seccion-portada {
    width: 35%;
  }
  .seccion-certificados {
    width: 35%;
  }
  .seccion-contacto {
    width: 35%;
  }
  .seccion-proyectos {
    width: 35%;
  }
  .seccion-sobremi {
    width: 35%;
  }
}

@media (max-width: 1220px) {
  .columna1-proyectos img {
    width: 330px;
  }
  .columna1-certificado img {
    width: 330px;
  }
}

@media (max-width: 1020px) {
  .grid-proyectos {
    grid-template-columns: 1fr;
  }
  .columna1-proyectos {
    justify-content: center;
  }
  .columna1-proyectos img {
    margin-bottom: 1rem;
  }
  .columna2-proyectos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .grid-sobremi {
    grid-template-columns: 1fr;
  }
  .ocultar {
    display: flex;
  }
  .columna2-sobremi {
    display: none;
  }
  .centrar {
    text-align: center;
    margin-left: 0rem;
  }
  .seccion-proyectos h1 {
    padding-left: 0;
  }
  .seccion-sobremi h1 {
    padding-left: 0;
  }

  .etiquetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .seccion-certificados {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .seccion-certificados h1 {
    padding-left: 0;
  }
  .grid-certificado {
    grid-template-columns: 1fr;
  }
  .columna1-certificado {
    margin-bottom: 1rem;
  }
  .seccion-contacto h1 {
    padding-left: 0;
  }
}

@media (max-width: 770px) {
  .columna1-portada img {
    width: 200px;
  }
}

@media (max-width: 700px) {
  .grid-portada {
    grid-template-columns: 1fr;
  }
  .links {
    display: none;
  }
  nav {
    justify-content: space-around;
  }
  #btn-burger {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    font-size: x-large;
  }

  .columna1-sobremi {
    padding-left: 0rem;
    padding: 2rem;
  }
  .seccion-sobremi {
    width: 95%;
  }
  .columna2-portada {
    width: 77%;
    margin: 0 auto;
    align-items: center;
  }
  .columna2-portada h1 {
    font-size: 1.5rem;
  }
  .columna2-portada h2 {
    font-size: 2rem;
  }
  .columna1-portada {
    align-items: end;
    width: 77%;
    margin: 0 auto;
  }
  .seccion-proyectos {
    width: 90%;
  }
}

@media (max-width: 665px) {
  .seccion-contacto {
    width: 95%;
  }
}

@media (max-width: 445px) {
  .columna1-proyectos img {
    width: 300px;
  }
  .columna1-certificado img {
    width: 300px;
  }
  input {
    width: 270px;
  }
  textarea {
    width: 270px;
  }
}

@media (max-width: 377px) {
  .columna1-proyectos img {
    width: 250px;
  }
  .columna1-portada img {
    width: 200px;
  }
  .btn-outlined {
    font-size: small;
  }
  .btn-solid {
    font-size: small;
  }
}

@media (max-width: 325px) {
  .columna1-portada img {
    width: 120px;
    margin-top: 1rem;
  }
  .columna2-portada h1 {
    font-size: 0.9rem;
  }
  .columna2-portada h2 {
    font-size: 1rem;
  }

  .ocultar img {
    width: 200px;
  }
}

@media (min-width: 700px) {
  #btn-burger {
    display: none;
  }
}
